<template>
  <el-dialog
    class="select-list"
    v-bind:visible="visible"
    v-bind:show-close="false"
    v-bind:close-on-press-escape="false"
    v-bind:close-on-click-modal="false"
  >
    <template v-slot:title >
        <h3 style="text-align:center !important; font-weight: 400 !important;"> {{modalTitle}} </h3>
    </template>

  <template style="">
    <!-- unselected -->
    <select v-model="toPass" multiple class="table">
      <option
        class="optionSelect"
        v-for="item in unselectedList"
        :key="item.id"
        :value="item"
      >{{item[keyField]}} {{item[labelField]}}
      </option>
    </select>


    <!-- add to staging -->
  <div class="modal_buttons">
    <el-button 
      :disabled="disabledTable"
      v-if="passAll"
      style="margin:0px !important; margin-bottom:3%; justify-items:center; " 
      type="primary"
      icon="fas fa-angle-double-right"
      class=""
      @click="passHandler('passAll')"
    >
    </el-button>
    <el-button 
      :disabled="disabledTable"
      style="margin:0px !important; margin-bottom:10%; justify-items:center;" 
      type="primary"
      icon="fas fa-angle-right"
      class=""
      @click="passHandler('right')"
    >
    </el-button>

    <!-- remove from staging -->
    <el-button 
      :disabled="disabledTable"
      style="margin:0px !important;" 
      type="primary"
      icon="fas fa-angle-left "
      class=""
      @click="passHandler('left')"
    >
    </el-button>
    <el-button 
      :disabled="disabledTable"
      v-if="passAll"
      style="margin:0px !important; margin-top:4% !important; justify-items:center;"
      type="primary"
      icon="fas fa-angle-double-left "
      class=""
      @click="passHandler('returnAll')"
    >
    </el-button>
  </div>
    <!-- staging -->
    <select v-model="toReturn" multiple class="table">
      <option
        class="optionSelect"
        v-for="item in stagingList"
        :key="item.id"
        :value="item"
      >{{item[keyField]}} {{item[labelField]}}</option>
    </select>
    </template>
    <!-- confirm/cancel buttons -->
    <template v-slot:footer>
      <div class="form-buttons">
        <el-button
          v-on:click="save(); close();"
          class="btn-primary"
          icon="fas fa-check"
        >
          {{ $t('save') }}
        </el-button>
        <el-button
          v-on:click="cancel(); close();"
          class="btn-cancel"
          icon="fas fa-times"
        >
          {{ $t('cancel') }}
        </el-button>
      </div>

    </template>
  </el-dialog>
</template>

<script>
import { sync, get } from "vuex-pathify"; // eslint-disable-line no-unused-vars
export default {
  name: "SelectList",
  components: {},
  props: [
    'modalTitle',
    'visible',
    'fullList',
    'selectedList',
    'keyField',
    'labelField',
    'passAll', //wether it shows the two extra buttons to pass all of the items to one table or the other
    'disabledTable'
  ], 
  created() {
    this.stagingList = JSON.parse(JSON.stringify(this.selectedList));
    this.filterLists();
  },
  data() {
    return {
      unselectedList: [],
      stagingList: [],
      toPass:[],
      toReturn:[],
    }
  },
  computed: {
  },
  watch: {
    // note: el-form has an "open" callback, but data updates on open cause a
    //       re-render, which trigger open again
    visible() {},
  },
  methods: {
    save() {
       this.$emit('update:selectedList', JSON.parse(JSON.stringify(this.stagingList)));
    },
    cancel(){
      this.stagingList = JSON.parse(JSON.stringify(this.selectedList));
      this.filterLists();
    },
    close() {
      this.$emit('update:visible', false);
    },
    passHandler(direction){
      if(direction=="left"){
        this.stagingList = this.stagingList.filter( item => !this.toReturn.some(x => x[this.keyField] === item[this.keyField]));
        this.toReturn=[];
        this.filterLists();
      }else if(direction=="right"){
        for(let item of this.toPass){this.stagingList.push(item);}
        this.toPass=[];
        this.stagingList.sort( (a, b) => {
          return a[this.keyField] - b[this.keyField];
        })
        this.filterLists();
      }else if(direction=="passAll"){
        this.stagingList = JSON.parse(JSON.stringify(this.fullList));
        this.filterLists();
      }else{
        this.stagingList=[];
        this.filterLists();
      }
    },
    filterLists(){
      if(this.stagingList.length>0){
        this.unselectedList = this.fullList
          .filter(item => !this.stagingList.some(x =>
            x[this.keyField] === item[this.keyField]));
      }else{
        this.unselectedList = JSON.parse(JSON.stringify(this.fullList));
      }
    }
  },

};
</script>

<style scoped>
/* note: styles for modal windows are in modal.scss */
.table{
  height: 100% !important;
  border: 1px solid #e5e9ec !important;
  color: #555 !important;
  margin-bottom: 0% !important;
}
</style>
