<template>
  <div
    id="main-grid"
    class="grid simple main attributesEdition"
    style="background: #e5e9ec"
  >
    <div   class="well form-group" style="background: #e5e9ec">

      <div style="border-radius:4px !important;" class="grid-body no-border colorChangeForEditionViews">
      

        <h4 v-if="id!=0" style="font-weight:400; padding-left: 6px; margin-bottom:17px">
          {{ $t("attributesEdition") }}
        </h4>
        <h4 v-if="id==0" style="font-weight:400; padding-left: 6px; margin-bottom:17px">
          {{ $t("attributesAddition") }}
        </h4>
        <el-form
          v-bind:model="toEdit"
          v-bind:rules="rules"
          ref="form"
        >
          <div
             
            class="editionContainer colorChangeForEditionViews"
          >

            <div class="">
            <el-form-item v-bind:label="$t('name')" prop="name">
                <el-input
                  v-model="toEdit.name"
                  v-on:focus="isInUse()"
                  class="input-group"
                  v-bind:placeholder="$t('name')"
                ></el-input>
              </el-form-item>
            </div>
            <div class="">
              <el-form-item v-bind:label="$t('promovarDescription')" prop="promoVarDescription">
                <el-input
                  :disabled="toEdit.id!=null"
                  v-model="toEdit.promoVarDescription"
                  v-on:focus="isInUse()"
                  class="input-group"
                  v-bind:placeholder="$t('promovarDescription')"
                ></el-input>
              </el-form-item>
            </div>

            <div class="">
              <el-form-item v-bind:label="$t('startDate')" prop="startDate">
                <el-date-picker
                  v-model="toEdit.startDate"
                  v-on:focus="isInUse()"
                  type="date"
                  v-bind:placeholder="$t('from')"
                  class="calendar"
                  format="dd/MM/yyyy"
                  value-format="yyyy-MM-ddTHH:mm:ss.SSSZZ"
                  :clearable="false"
                  @keyup.enter.native="searchUpdate()"
                  @blur="searchUpdate()"
                ></el-date-picker>
                <span class="input-group-addon primary el-input__suffix icon">
                  <span class="arrow"></span>
                  <i class="fa fa-calendar-alt"></i>
                </span>
              </el-form-item>
            </div>
            <div class="">
              <el-form-item v-bind:label="$t('finishDate')" prop="endDate">
                <el-date-picker
                  v-model="toEdit.endDate"
                  type="date"
                  v-bind:placeholder="$t('to')"
                  class="calendar"
                  format="dd/MM/yyyy"
                  value-format="yyyy-MM-ddTHH:mm:ss.SSSZZ"
                  :clearable="false"
                  @keyup.enter.native="searchUpdate()"
                  @blur="searchUpdate()"
                ></el-date-picker>
                <span class="input-group-addon primary el-input__suffix icon">
                  <span class="arrow"></span>
                  <i class="fa fa-calendar-alt"></i>
                </span>
              </el-form-item>
            </div>
            <div class="">
              <el-form-item v-bind:label="$t('category')" prop="category.id">
                <el-select
                  v-model="toEdit.category.id"
                  class="input-group"
                  v-bind:placeholder="$t('category')"
                >
                  <el-option selected v-bind:value="null"></el-option>
                  <el-option
                    v-for="item in categories"
                    :key="item.id"
                    :label="item.description"
                    :value="item.id"
                  ></el-option>
                </el-select>
              </el-form-item>
            </div>
            <div class="">
              <el-form-item v-bind:label="$t('editableBy')" prop="editableBy">
                <el-select
                  v-model="toEdit.editableBy"
                  class="input-group"
                  v-bind:placeholder="$t('editableBy')"
                >
                  <el-option selected v-bind:value="null"></el-option>
                  <el-option
                    v-for="item in editableBy"
                    :key="item.id"
                    :label="item.label"
                    :value="item.id"
                  ></el-option>
                </el-select>
              </el-form-item>
            </div>
            <div class="">
              <el-form-item v-bind:label="$t('type')" prop="type">
                <el-select
                  v-model="toEdit.type"
                  class="input-group"
                  v-bind:placeholder="$t('type')"
                >
                  <el-option selected v-bind:value="null"></el-option>
                  <el-option
                    v-for="item in types"
                    :key="item.id"
                    :label="item.description"
                    :value="item.value"
                  ></el-option>
                </el-select>
              </el-form-item>
            </div>
            <div class="">
              <el-form-item v-bind:label="$t('decimalQuantity')" prop="decimalLength">
                <el-input
                  type="number"
                  v-model="toEdit.decimalLength"
                  class="input-group"
                  v-bind:placeholder="$t('decimalQuantity')"
                ></el-input>
              </el-form-item>
            </div>
            <div class="">
              <el-form-item v-bind:label="$t('defaultValue')" prop="defaultValue">
                <el-input
                  type="number"
                  v-model="toEdit.defaultValue"
                  class="input-group"
                  v-bind:placeholder="$t('defaultValue')"
                  v-if="toEdit.type ==='L'"
                ></el-input>
                <el-select
                  v-else
                  v-model="toEdit.defaultValue"
                  class="input-group"
                  v-bind:placeholder="$t('defaultValue')"
                >
                  <el-option selected v-bind:value="null"></el-option>
                  <el-option
                    v-for="item in toEdit.optionValues"
                    :key="item.code"
                    :label="item.code"
                    :value="item.value"
                  ></el-option>
                </el-select>
              </el-form-item>
            </div>
            
            <div class="" >
              <el-form-item v-bind:label="$t('editable')" prop="editable">
                <el-checkbox
                  v-model="toEdit.editable"
                  class="input-group"
                  v-bind:placeholder="
                    $t('editable')
                  "
                ></el-checkbox>
              </el-form-item>
            </div>
            <div class="" >
              <el-form-item v-bind:label="$t('accountLevel')" prop="accountLevel">
                <el-checkbox
                  :disabled="toEdit.id!=null"
                  v-model="toEdit.accountLevel"
                  class="input-group"
                  v-bind:placeholder="
                    $t('accountLevel')
                  "
                ></el-checkbox>
              </el-form-item>
            </div>
            <div class="" >
              <el-form-item v-bind:label="$t('obligatory')" prop="required">
                <el-checkbox
                  :disabled="toEdit.id!=null"
                  v-model="toEdit.required"
                  class="input-group"
                  v-bind:placeholder="
                    $t('obligatory')
                  "
                ></el-checkbox>
              </el-form-item>
            </div>
            
            <div class="">
              <el-form-item v-bind:label="$t('priority')" prop="renderPriority">
                <el-input
                  v-model="toEdit.renderPriority"
                  class="input-group"
                  v-bind:placeholder="$t('priority')"
                ></el-input>
              </el-form-item>
            </div>

            <div class="">
              <el-form-item v-bind:label="$t('costCenter')" prop="costCenter">
                <el-input
                  v-model="toEdit.costCenter"
                  class="input-group"
                  v-bind:placeholder="$t('costCenter')"
                ></el-input>
              </el-form-item>
            </div>
           
            
            <div class="breakLineHr"></div>
            
          <div>
            <div>
              <p class="">
              {{ $t("chains") }}
              </p>
              <el-button
              style="width:41px; margin-top:-7px;"
              icon="fas fa-edit"
              class="btn-primary"
              size="small"
                @click="visible=true"
               />
              <p class="text-success" style="margin-top:2px;" v-for="item in toEdit.retails" :key="item.id"> {{item.name}}, </p>
              
              <div></div>
            </div>
            
          </div>
            <SelectList
              v-if="toEdit && toEdit.retails!=null && retailFormats"
              v-bind:passAll="true"
              v-bind:visible.sync="visible"
              v-bind:fullList="retailFormats"
              v-bind:selectedList.sync="toEdit.retails"
              v-bind:modalTitle="$t('chains')"
              v-bind:disabledTable="toEdit.id!=null"
              keyField="id"
              labelField="name"
            ></SelectList>
          </div>

          <div class="breakLineHr" ></div>
          <div class="breakLineHr">
            <el-collapse v-if="toEdit.type == 'O'" style="padding-top:0.7%;">
              <el-collapse-item :title="$t('options')" >
            
                <el-button
                  style="margin-bottom:0.5rem !important"
                  @click="toEdit.optionValues.push({ id:toEdit.optionValues.length + 1 ,code:null, value:null })"
                  icon="fas fa-plus"
                  :loading="loading!=0"
                  size="small"
                  class="btn-primary"
                >
                  {{ $t("add") }}
                </el-button>

                <el-table class="table table-hover table-striped no-more-tables no-margin" style="width: 100%;" :data="toEdit.optionValues">
                    <el-table-column class-name="status-columns" align="center" :label="$t('code')">
                      <template  slot-scope="scope"> <el-input v-model="scope.row.code"></el-input></template>
                    </el-table-column>
                    <el-table-column class-name="status-columns" align="center" :label="$t('value')">
                      <template slot-scope="scope"> <el-input type="number" v-model="scope.row.value"></el-input></template>
                    </el-table-column>
                    <el-table-column class-name="status-columns" align="left" :label="$t('nothing')">
                      <template v-slot:default="{$index: i }"><el-button style="font-size:16px!important;" class="text-danger" icon="fas fa-times" size="small" :title="$t('delete')"  @click="toEdit.optionValues.splice(i, 1)"></el-button></template>
                    </el-table-column>
                </el-table>
              </el-collapse-item>
            </el-collapse>
          </div>
        </el-form>
      </div>
    </div>
    <div class="grid-body no-border  colorChangeForEditionViews">
    
      <el-form
        v-bind:model="toEdit"
      >
      <h5 style="font-weight:400; margin-bottom:12px !important;"> {{$t("valueAssignation")}}</h5>
        <div
          class="editionContainer colorChangeForEditionViews"
        > 
            <div class="">
              <el-form-item v-bind:label="$t('clientNumber')" prop="clientN">
                <el-input
                  v-model="clientN"
                  class="input-group"
                  v-bind:placeholder="$t('clientNumber')"
                ></el-input>
              </el-form-item>
            </div>
            <div class="">
              <el-form-item v-bind:label="$t('name')" prop="name">
                <el-input
                  v-model="customerName"
                  class="input-group"
                  v-bind:placeholder="$t('customerName')"
                ></el-input>
              </el-form-item>
            </div>
            <div class="">
              <el-form-item v-bind:label="$t('surname')" prop="customerSurname">
                <el-input
                  v-model="customerSurname"
                  class="input-group"
                  v-bind:placeholder="$t('customerSurname')"
                ></el-input>
              </el-form-item>
            </div>
            <div></div>

            <div class="">
              <el-form-item v-bind:label="$t('identificationType')" prop="delectedIdentificationType">
                <el-select
                  v-model="selectedIdentificationType"
                  class="input-group"
                  v-bind:placeholder="$t('identificationType')"
                >
                  <el-option selected v-bind:value="null"></el-option>
                  <el-option
                    v-for="item in identificationTypes"
                    :key="item.id"
                    :label="item.name"
                    :value="item.id"
                  ></el-option>
                </el-select>
              </el-form-item>
            </div>

            <div class="">
              <el-form-item v-bind:label="$t('identificationNumber')" prop="identificationNumber">
                <el-input
                  v-model="toEdit.identificationNumber"
                  class="input-group"
                  v-bind:placeholder="$t('identificationNumber')"
                ></el-input>
              </el-form-item>
            </div>

            <div>
              <br>
              <el-button id="searchButton" style="vertical-align:-12px;" icon="fas fa-search" :loading="loading!=0" size="small" class="btn-primary" @click="searchLoyaltyCustomers()">
                {{$t('search')}}
              </el-button>

            </div>
            <div class="breakLineHr">
              <el-table
                v-if="customerSubList != null && customerSubList.length > 0"
                class="table table-hover table-striped no-more-tables no-margin"  
                style="width: 100%"
                :data="customerSubList"
                @selection-change="handleSelectionChange"
                >
              >
                <el-table-column prop="loyaltyValueCheck" width="55" type="selection"></el-table-column>

                <el-table-column
                  text-transform="uppercase"
                  class-name="status-columns"
                  align="right"
                  :label="$t('clientN')"
                  width="100px"
                  prop="number"
                >
                </el-table-column>

                <el-table-column
                  class-name="status-columns"
                  align="left"
                  :label="$t('documentType')"
                  width="200px"
                >
                  <template slot-scope="scope">{{scope.row.identificationType.name}} , {{ scope.row.identificationNumber }}</template>
                </el-table-column>

                <el-table-column
                  class-name="status-columns"
                  align="center"
                  :label="$t('name')"
                  prop="name"
                >
                </el-table-column>
              </el-table>
              <div>
                <p
                  v-if="customerSubList != null && customerSubList.length < 1"
                  class="no-result mt-4"
                >
                  {{ $t("noResultForLoyaltyCustomers") }}
                </p>
              </div>
              <div v-if="90 > 10" style="height: 15px"></div>
              <!-- SearchValues.length-->
              <PaginationFunctional
                sublistName="customerSubList"
                :fullList="loyaltyCustomerlist"
                :tableSize="10"
                @paginationChange="paginationChange"
              />
            </div>
            <div class="breakLineHr"></div>

            <div class="">
              <el-form-item v-bind:label="$t('value')" prop="value">
                <el-input
                  v-if="toEdit.type ==='L'"
                  v-model="valueForClient"
                  class="input-group"
                  v-bind:placeholder="$t('value')"
                ></el-input>
                <el-select
                  v-else
                  v-model="valueForClient"
                  class="input-group"
                  v-bind:placeholder="$t('value')"
                >
                  <el-option selected v-bind:value="null"></el-option>
                  <el-option
                    v-for="item in toEdit.optionValues"
                    :key="item.id"
                    :label="item.code"
                    :value="item.value"
                  ></el-option>
                </el-select>
              </el-form-item>
            </div>
            
            <div>
              <br>
              <el-button v-if="loyaltyCustomerlist!=null && loyaltyCustomerlist.length>0" id="searchButton" style="vertical-align:-9px;" icon="fas fa-plus" :loading="loading!=0" size="small" class="btn-primary" @click="assignValue()">
                {{$t('assign')}}
              </el-button>
              <el-button id="searchButton" style="vertical-align:-9px;" icon="fas fa-gear" :loading="loading!=0" size="small" class="btn-primary" @click="assignAll()">
                {{$t('assignAll')}}
              </el-button>
              <ValueImport
                style="display:inline; padding-left:10px;"
                v-if="id != 0"
                v-bind:loading="loading !== 0"
                v-bind:attributeId="id"
              ></ValueImport>
            </div>

        </div>
      </el-form>
    </div>
    <div
      style="
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        background: #e5e9ec;
      "
       
    >
      <div
        class="editionButtons2"
        style="
          padding-bottom: 3%;
          padding-right: 2%;
          padding-top: 2%;
          grid-column: 3/4;
        "
      >
        <el-button
          icon="fas fa-check"
          :loading="loading!=0"
          size="small"
          class="btn-primary"
          @click="save();"
        >
          {{ $t("save") }}
        </el-button>
        <el-button
          icon="fas fa-times"
          :loading="loading!=0"
          size="small"
          @click="cancel()"
          class="btn-cancel"
        >
          {{ $t("cancel") }}
        </el-button>
      </div>
    </div>

  </div>
</template>
<script>
import { sync, get } from "vuex-pathify"; // eslint-disable-line
import SelectList from "@/components/SelectList.vue";
import PaginationFunctional from "@/components/PaginationFunctional.vue"
import ValueImport from "@/components/attribute/ValueImport.vue"
export default {
  name: "AttributesEdition",
  components:{
    SelectList,
    PaginationFunctional,
    ValueImport,
  },  
  created() {
   this.$store.dispatch("loyalty/retrieveAttributeById", this.id).then(response => {this.toEdit = response; if(!this.toEdit.category) this.toEdit.category = {};});
   this.$store.dispatch("customer/retrieveIdentificationTypes");
   this.$store.dispatch("loyalty/retrieveCategories");
   this.$store.dispatch("loyalty/retrieveRetailFormats");
  },
  props:[
    'id',
  ],
  watch: {
    "toEdit.name": function (val) {
      this.toEdit.promoVarDescription  = val;
    },
  },
  computed: {
    identificationTypes:get("customer/identificationTypes"),
    loading: get("loyalty/loading"),
    categories: get("loyalty/categories"),
    retailFormats: get("loyalty/retailFormats"),
  },
  data() {
    return {
      valueForClient:null,
      multipleSelection:null,
      types:[
        { id:1, description: this.$t("option"), value:"O"},
        { id:2, description: this.$t("value"), value:"L"},
      ],
      toEdit:{},
      rules: {
        'category.id': [{ required: true, message: this.$t('requiredField') }],
        name: [{ required: true, message: this.$t('requiredField') }],
        renderPriority: [{ required: true, message: this.$t('requiredField') }],
        decimalLength: [{ required: true, message: this.$t('requiredField') }],
      },
      tableVisible:false,
      symbols: [
        { id: 1, name: "=" },
        { id: 2, name: ">" },
        { id: 3, name: "<" },
        { id: 4, name: ">=" },
        { id: 5, name: "<=" },
        { id: 6, name: "<>" },
      ],
      editableBy:[
        { id:0, label: this.$t("everyone")},
        { id:1, label: this.$t("restricted")},
        { id:2, label: this.$t("none")},
      ],
      visible: false,

      clientN:null,
      selectedIdentificationType:null,
      identificationNumber:null,
      customerName:null,
      customerSurname:null,

      loyaltyCustomerlist:null,
      customerSubList:null,
    };
  },
  methods: {
  async assignValue(){
      if( this.multipleSelection!=null && this.multipleSelection.length>0){
        try {
          if(this.toEdit.id==null || this.toEdit.id==0){
            await this.$refs['form'].validate();
            const response = await this.$store.dispatch(
              "loyalty/saveAttribute",
              this.toEdit);

            if (response.status === "ERROR" )
              throw new Error("errorSaveAttribute");
            
            this.$notify({
              type: "success",
              title: this.$t("success"),
              message: this.$t('saveAttributeSuccess'),
              position: "bottom-right",
            });
            this.toEdit.id = response.attributeId;
          }
          let requestObject = {additionalAttributeId: this.toEdit.id, customerList:this.multipleSelection, value: this.valueForClient!=null ? this.valueForClient : 0}
          this.$store.dispatch("loyalty/assignValue", requestObject)
          .then( response => {
            if (response.status=="OK"){
              this.$notify({
                type: "success",
                title: this.$t("success"),
                message: this.$t('assignationSuccesful'),
                position: "bottom-right",
              });
            }else{
              this.$notify.error({
                title: this.$t("error"),
                message: this.$t('couldNotAssignValue'),
                position: "bottom-right", 
              })
            }
          })
        } catch (error) {
            const msg = error === false
              ? this.$t("validationsError")
              : error.message === "errorSaveAttribute"
                ? this.$t(error.message)
              : this.$t("unkownError");

            this.$notify.error({
              title: this.$t("error"),
              message: msg,
              position: "bottom-right",
            });
          }
      }else{
          this.$notify.error({
          title: this.$t("error"),
          message: this.$t("selectAtLeastOneCustomer"),
          position: "bottom-right",
        });
      }
    },
  async assignAll(){ 
        try {
          if(this.toEdit.id==null || this.toEdit.id==0){
            await this.$refs['form'].validate();
            const response = await this.$store.dispatch(
              "loyalty/saveAttribute",
              this.toEdit);

            if (response.status === "ERROR" )
              throw new Error("errorSaveAttribute");
            
            this.$notify({
              type: "success",
              title: this.$t("success"),
              message: this.$t('saveAttributeSuccess'),
              position: "bottom-right",
            });
            this.toEdit.id = response.attributeId;
          }
          let requestObject = {value: this.valueForClient!=null ? this.valueForClient : 0, additionalAttributeId: this.toEdit.id}
          this.$store.dispatch("loyalty/assignAll", requestObject) 
          .then( response => {
            if (response.status=="OK"){
              this.$notify({
                type: "success",
                title: this.$t("success"),
                message: this.$t('assignationSuccesful'),
                position: "bottom-right",
              });
            }else{
              this.$notify.error({
                title: this.$t("error"),
                message: this.$t('couldNotAssignValue'),
                position: "bottom-right", 
              })
            }
          })
        } catch (error) {
            const msg = error === false
              ? this.$t("validationsError")
              : error.message === "errorSaveAttribute"
                ? this.$t(error.message)
              : this.$t("unkownError");

            this.$notify.error({
              title: this.$t("error"),
              message: msg,
              position: "bottom-right",
            });
          }
    },
    searchLoyaltyCustomers(){
      this.$store.dispatch("loyalty/retrieveLoyaltyCustomerSearch", {
        accountLevel: this.toEdit.accountLevel==null ? false : this.toEdit.accountLevel,
        clientN: this.clientN,
        selectedIdentificationType: this.selectedIdentificationType,
        identificationNumber: this.identificationNumber,
        customerName: this.customerName,
        customerSurname: this.customerSurname,
      }).then( response => this.loyaltyCustomerlist = response );
    }, 
    cancel(){
      this.toEdit = { };
      this.$router.go(-1);
    },
    async save(){
      try {
        await this.$refs['form'].validate();
        const response = await this.$store.dispatch(
          "loyalty/saveAttribute",
          this.toEdit);

        if (response.status === "ERROR" )
          throw new Error("errorSaveAttribute");
        
        this.$notify({
          type: "success",
          title: this.$t("success"),
          message: this.$t('saveAttributeSuccess'),
          position: "bottom-right",
        });

        this.$router.go(-1);

      } catch (error) {
        const msg = error === false
          ? this.$t("validationsError")
          : error.message === "errorSaveAttribute"
            ? this.$t(error.message)
          : this.$t("unkownError");

        this.$notify.error({
          title: this.$t("error"),
          message: msg,
          position: "bottom-right",
        });
      }
    },
    handleSelectionChange(val) {
      this.multipleSelection = val;
    }
  },
};
</script>

<style scoped>
.well.well-small {
  padding: 15px;
  width: auto;
}
.well,
.grid {
  margin-bottom: 10px;
}
.radio {
  margin: -10px;
}
.well {
  background-color: transparent !important;
  border-radius: 4px;
  box-shadow: none !important;
  border: none;
  background-image: none;
}
.sm-gutter .row {
  margin-right: -5px;
  margin-left: -5px;
}
.m-t-0 {
  margin-top: 0 !important;
}
label,
input,
button,
select,
textarea {
  font-size: 12px;
  font-weight: normal;
  line-height: 20px;
  font-family: "Montserrat";
}
label {
  margin-right: 10px;
  display: fixed;
  margin-bottom: 5px;
}
.el-button--mini {
  padding: 3px 12px !important;
  font-size: 11.9px !important;
  border-radius: 3px !important;
}
.m-b-0 {
  margin-bottom: 0 !important;
}
.m-t-10 {
  margin-top: 10px !important;
}
.text-success {
  color: #0aa699 !important;
}
p {
  font-size: 12px;
  font-weight: normal;
  line-height: 20px;
  font-family: "Montserrat";
  margin: 0 0 10px;
  text-align: left;
}
.text-rigth {
  margin-right: 0px !important;
}
.el-collapse {
  border-top: 0px solid #ebeef5 !important;
  border-bottom: 0px solid #ebeef5 !important;
  padding-bottom: 5px !important;
}
.el-collapse-item,
.el-collapse-content {
  padding-bottom: 5px !important;
}
.el-collapse-item__content {
  padding-bottom: 5px !important;
}
.el-input__suffix {
  height: 100% !important;
  margin-right: -5px !important;
}
.el-form-item {
  margin-bottom: 0px !important;
}
.el-form-item__error {
  font-size: 12px;
  font-family: "Montserrat" !important;
  padding-top: 3px !important;
}
.checkbox {
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}
.el-collapse{
  background-color:#e5e9ec !important;
  border-radius: 5px !important;
}
</style>
