<template>
  <div
    id="main-grid"
    class="grid simple main borderRadius12px"
    style="background: #e5e9ec"
  >
    <div class="well form-group">
      <div class="grid-title no-border borderTop">
        <h4 style="padding-left: 6px">{{ $t("attributesAdministration") }}</h4>
      </div>
      <div class="grid-body no-border borderBottom">
        <el-form>
          <div class="grid-container">
            <div class="grid-addButton">
              <el-button
                @click="add()"
                icon="fas fa-plus"
                :loading="loading!=0"
                size="small"
                class="btn-primary"
              >
                {{ $t("add") }}
              </el-button>

            </div>

            <div class="">
              <el-form-item prop="">
                <el-input
                  v-model="state.filters.name"
                  class="input-group"
                  v-bind:placeholder="$t('name')"
                ></el-input>
              </el-form-item>
            </div>
            <div class="">
              <el-form-item prop="promovar">
                <el-input
                  type="number"
                  v-model="state.filters.promovar"
                  class="input-group"
                  v-bind:placeholder="$t('promovar')"
                ></el-input>
              </el-form-item>
            </div>
            <div class="">
              <el-form-item prop="category">
                <el-select
                  v-model="state.filters.category"
                  class="input-group"
                  v-bind:placeholder="$t('category')"
                >
                  <el-option selected v-bind:value="null"></el-option>
                  <el-option
                    v-for="item in categories"
                    :key="item.id"
                    :label="item.description"
                    :value="item.id"
                  ></el-option>
                </el-select>
              </el-form-item>
            </div>

            <div>
              <el-form-item>
                <el-button
                  icon="fas fa-search"
                  :loading="loading!=0"
                  id="searchButton"
                  size="small"
                  class="btn-primary"
                  @click="search()"
                >
                  {{ $t("search") }}
                </el-button>
              </el-form-item>
            </div>
            <div class="tableGrid">
              <el-row
                style="margin-top: 15px"
                v-loading="loading!=0"
                class="promotion-results sm-gutter"
              >
                <hr class="m-t-5 m-b-5" />
                <el-table
                  v-if="attributesSubList != null && attributesSubList.length > 0"
                  class="table table-hover table-striped no-more-tables no-margin"
                  style="width: 100%"
                  :data="attributesSubList"
                >
                  <el-table-column
                    text-transform="uppercase"
                    class-name="status-columns"
                    align="right"
                    :label="'Id'"
                    width="50%"
                  >
                    <template slot-scope="scope">{{ scope.row.id }}</template>
                  </el-table-column>

                  <el-table-column
                    class-name="status-columns"
                    align="left"
                    :label="$t('name')"
                    width="120%"
                    prop="name"
                  >
                  </el-table-column>

                  <el-table-column
                    class-name="status-columns"
                    align="center"
                    :label="$t('promovar')"
                    prop="promoVarCode"
                  >

                  </el-table-column>

                  <el-table-column
                    class-name="status-columns"
                    align="center"
                    :label="$t('startDate')"
                  >
                    <template slot-scope="scope">
                      {{formatDate(scope.row.startDate)}}
                    </template>
                  </el-table-column>
                  <el-table-column
                    class-name="status-columns"
                    align="center"
                    :label="$t('expirationDate')"
                  >
                    <template slot-scope="scope">
                      {{formatDate(scope.row.endDate)}}
                    </template>
                  </el-table-column>
                  <el-table-column
                    class-name="status-columns"
                    align="center"
                    :label="$t('category')"
                    
                  >
                   <template  slot-scope="scope">{{scope.row.category!=null ? scope.row.category.description : " "}}</template>
                  </el-table-column>

                  <el-table-column
                    class-name="status-columns"
                    align="left"
                    :label="$t('type')"
                    width="120%"
                    prop="type"
                  >
                    <template slot-scope="scope">
                      {{scope.row.type === 'L' ? $t('value') : $t('option')}}
                    </template>                      
                  </el-table-column>

                  <el-table-column
                    class-name="status-columns"
                    align="left"
                    :label="$t('level')"
                    width="120%"
                    :formatter=" row => row.accountLevel ? $t('account') : $t('client')"
                  >
                  </el-table-column>

                  <el-table-column
                    class-name="status-columns"
                    align="left"
                    :label="$t('obligatory')"
                    width="120%"
                    :formatter=" row => row.required ? $t('yes') : $t('no')"
                  >
                  </el-table-column>

                  <el-table-column align="center" width="80%">
                    <template  slot-scope="scope">
                      <el-button
                        class="text-info"
                        icon="fas fa-edit"
                        size="small"
                        :title="$t('edit')"
                        @click="edit(scope.row.id)"
                      ></el-button>
                      <el-button
                        class="text-danger"
                        icon="fas fa-times"
                        size="small"
                        :title="$t('remove')"
                        @click="deleteA(scope.row.id)"
                      ></el-button>
                    </template>
                  </el-table-column>
                </el-table>
                <div>
                  <p
                    v-if="attributesSubList != null && attributesSubList.length < 1"
                    class="no-result mt-4"
                  >
                    {{ $t("noResult") }}
                  </p>
                </div>
                <div v-if="90 > 10" style="height: 15px"></div>
                <!-- SearchValues.length-->
                <PaginationFunctional
                  v-on:currentIndexPagination="state.page = $event"
                  v-bind:tableIndexInitial="state.page"
                  sublistName="attributesSubList"
                  :fullList="attributes"
                  :tableSize="10"
                  @paginationChange="paginationChange"
                />
              </el-row>
            </div>
          </div>
        </el-form>
      </div>
    </div>
  </div>
</template>

<script>
import { sync, get } from "vuex-pathify"; // eslint-disable-line no-unused-vars
import PaginationFunctional from "@/components/PaginationFunctional.vue";
export default {
  name: "AttributesAdmin",
  created() {
    this.search();
    this.$store.dispatch("loyalty/retrieveCategories");
  },
  components: {
    PaginationFunctional,
  },
  computed: {
    loading: get("loyalty/loading"),
    state: sync("loyalty/attributeAdminState"),
    categories: get("loyalty/categories"),
    attributes: get("loyalty/attributes"),
  },
  data() {
    return {
      attributesSubList: [],
      statuses:[],
    };
  },
  methods: {
    add() {
      this.$router.push("attributesEdition/0");
    },
    edit(id) {
      this.$router.push(`attributesEdition/${id}`);
    },
    async deleteA(id) {
      try {
        await this.$confirm(this.$t("labelDeleteAttribute"), {
          confirmButtonText: this.$t("yes"),
          cancelButtonText: this.$t("cancel"),
          cancelButtonClass: "btn-cancel",
          confirmButtonClass: "btn-primary",
        });
      } catch (_) {
        return;
      }

      try {
        const response = await this.$store.dispatch("loyalty/deleteAttribute", id);
        if (response.status === "ERROR") throw new Error("errorDeleteAttribute");

        this.$notify({
          type: "success",
          title: this.$t("success"),
          message: this.$t("deleteAttributeSuccess"),
          position: "bottom-right",
        });

        this.search();
      } catch (error) {
        const msg =
          error.message === "errorDeleteAttribute" ? error.message : "error";

        this.$notify.error({
          title: this.$t("error"),
          message: this.$t(msg),
          position: "bottom-right",
          duration: 7000,
        });
      }
    },
    search() {
      this.$store.dispatch("loyalty/retrieveAttributes", this.state.filters);
    },
  },
};
</script>

<style scoped>
.well.well-small {
  padding: 15px;
  width: auto;
}
.well,
.grid {
  margin-bottom: 10px;
}
.radio {
  margin: -10px;
}
.well {
  background-color: transparent !important;
  border-radius: 4px;
  box-shadow: none !important;
  border: none;
  background-image: none;
}
.sm-gutter .row {
  margin-right: -5px;
  margin-left: -5px;
}
.m-t-0 {
  margin-top: 0 !important;
}
label,
input,
button,
select,
textarea {
  font-size: 12px;
  font-weight: normal;
  line-height: 20px;
  font-family: "Montserrat";
}
label {
  margin-right: 10px;
  display: fixed;
  margin-bottom: 5px;
}
.el-button--mini {
  padding: 3px 12px !important;
  font-size: 11.9px !important;
  border-radius: 3px !important;
}
.m-b-0 {
  margin-bottom: 0 !important;
}
.m-t-10 {
  margin-top: 10px !important;
}
.text-success {
  color: #0aa699 !important;
}
p {
  font-size: 12px;
  font-weight: normal;
  line-height: 20px;
  font-family: "Montserrat";
  margin: 0 0 10px;
  text-align: left;
}
.text-rigth {
  margin-right: 0px !important;
}
.el-collapse {
  border-top: 0px solid #ebeef5 !important;
  border-bottom: 0px solid #ebeef5 !important;
  padding-bottom: 5px !important;
}
.el-collapse-item,
.el-collapse-content {
  padding-bottom: 5px !important;
}
.el-collapse-item__content {
  padding-bottom: 5px !important;
}
.el-input__suffix {
  height: 100% !important;
  margin-right: -5px !important;
}
.el-form-item {
  margin-bottom: 0px !important;
}
.el-form-item__error {
  font-size: 12px;
  font-family: "Montserrat" !important;
  padding-top: 3px !important;
}
.checkbox {
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}
</style>
